:root{
    --main-color:#2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s ;
    --main-padding:100px;
    --section-background:#ececec;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-title {
    margin: 0 auto 80px;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);

}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover {
    color: White;
    border: 2px solid white;
    transition-delay: 0.5s;

}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    color: #2196f3;
    font-size: 30px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -2px;
}

.main-nav {
    display: flex;
}

.main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-size: 18px;
    padding: 0 30px;
    color: black;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
    top: -2px;
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196f3;
    top: 0px;
    left: -100%;
    transition: 0.3;
}

.header .main-nav>li>a:hover {
    color: #2196f3;
    background-color: #fafafa;

}

.header .main-nav>li>a:hover::before {
    left: 0;
}

.landing {
    position: relative;
    
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 0;
    background: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
    margin:80px ;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    columns: #666;
    max-width: 500px;
}

.landing .image img {
    position: relative;
    width: 600px;
    animation: updown 5s linear infinite;
    left: -90px;
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-color);

}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

.landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
.products{
    padding-top:var(--main-padding) ;
    padding-bottom: var(--main-padding);
}
.products .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
}

.chart {
    text-decoration: none;
    background-color: #5ac133;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
    top: 8px;
    left: 49px;
}
.chart:hover {
    background-color: #00bf30;
}

@keyframes updown {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}