
/* Start Globa Rules */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body0{
    font-family: "Cairo", sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .main-title{
    margin: 0 auto 80px;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.spikes{
position: relative;
}
.spikes::after{
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
  linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots{
  background-image:url("../images/dots.png") ;
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up{
  top: 200px;
  right: 0;
}
.dots-down{
  bottom: 200px;
  left: 0;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before{
  left: -30px;
}
.main-title::after{
  right: -30px;
}
 .main-title:hover::before{
  z-index: -1;
  animation: left-move 0.5s linear forwards ;
  -webkit-animation: left-move 0.5s linear forwards ;
} 
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover{
  color: White;
  border: 2px solid white;
  transition-delay: 0.5s;
  
}
/* End Globa Rules */
/* Start Header */
.header{
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo{
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:767px){
  .header .logo{
    width:100%;
    height: 50px;
  }
}
.header .main-nav{
  display: flex;
}
@media(max-width:767px){
  .header .main-nav{
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu{
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  font-size: 18px;
  padding: 0 30px;
  color: black;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media(max-width:767px){
  .header .main-nav > li > a{
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--main-color);
    top: 0px;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .main-nav > li > a:hover{
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
  left: 0;
}
.header .mega-menu{
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 30px;
  left: 0;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  opacity: 0;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-color);
  -webkit-transition: top var(--main-transition), opacity var(--main-color);
  -moz-transition: top var(--main-transition), opacity var(--main-color);
  -ms-transition: top var(--main-transition), opacity var(--main-color);
  -o-transition: top var(--main-transition), opacity var(--main-color);
}

@media(max-width:767px){
  .header .mega-menu{
    flex-direction: column;
    gap: 0;
    padding: 5px ;
  }
}
.header .mega-menu .image img{
  max-width: 100%;
  
}
@media (max-width:991px){
  .header .mega-menu .image img{
    display: none;
  }
}
.header .mega-menu .links{
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li{
  position: relative ;
}
.header .mega-menu .links li:not(:last-child){
  border-bottom: 1px solid #e9e6e6;
}
@media(max-width:767px){
  .header .mega-menu .links li:last-child{
    border-bottom:1px solid #e9e6e6 ;
  }
}
.header .mega-menu .links li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before{
 width: 100%;
}
.header .mega-menu .links li a{
  color: var(--main-color);
  padding: 20px;
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.header .mega-menu .links li a i{
  margin-right: 10px;
}
/* End Header */
/* Start landing  */
.landing{
  position: relative;
}
.landing::before{
  content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 0;
    background: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text{
  flex: 1;
}
@media(max-width:991px){
  .landing .text{
    text-align: center;
  }
}
.landing .text h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media(max-width:767px){
  .landing .text h1{
    font-size: 28px;
  }
}
.landing .text p{
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  columns: #666;
  max-width: 500px;
}
@media(max-width:767px){
  .landing .text p{
    font-size: 18px;
  }
}
@media(max-width:991px){
  .landing .text p{
    margin: 10px auto;
  }
}
.landing .image img{
  position: relative;
  width: 600px;
  animation: updown 5s linear infinite;
  -webkit-animation: updown 5s linear infinite;
}
@media(max-width:991px){
  .landing .image img{
    display: none;
  }
}
.landing .go-down{
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: var(--main-color);
  -webkit-transition: var(--main-color);
  -moz-transition: var(--main-color);
  -ms-transition: var(--main-color);
  -o-transition: var(--main-color);
}
.landing .go-down:hover{
  color: var(--main-color-alt );
}
.landing .go-down i{
  animation: bouncing 1.5s infinite ;
  -webkit-animation: bouncing 1.5s infinite ;
}
/* End Landing */


/* Start Animation */
/* Start Features */
 .features{
  padding-top:var(--main-padding) ;
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
 }
 .features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
  gap: 40px;
 }
 .features .box{
  text-align: center;
  border: 1px solid #ccc;
 }
 .features .box .img-holder{
  position: relative;
  overflow: hidden;
 }
 .features .box .img-holder::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
 }
 .features .box .img-holder::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color:transparent transparent white transparent ;
  transition: var(--main-transition);
 }
 .features .box .img-holder img{
  max-width: 100%;
 }
 .features .box:hover .img-holder::after{
  border-width: 170px 500px 170px 0;
 }
 .features .box h2{
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
 }
 .features .box h2::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  background-color: rebeccapurple;
  width: calc(100% - 30px);
 }
 .features .box p{
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
 }
 .features .box a{
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px; 
  padding: 10px 30px; 
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before{
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after{
  background-color: #f44036;
}
.features .quality a{
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right,#f44036 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a{
  background-position:left bottom ;
  color: white;
}
.features .time .img-holder::before{
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after{
  background-color: #009688;
}
.features .time a{
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right,#009688 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before{
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after{
  background-color: #03a9f4;
}
.features .passion a{
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right,#03a9f4 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
 /* End Features */
 /* Start Testimonials */
 .testimonials{
  padding-top:var(--main-padding) ;
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-background);
 }
 .testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
  gap: 40px;
 }
 .testimonials .box{
  padding: 20px;
  background-color: white;
  box-shadow:0 2px 4px rgb(0 0 0 / 7%) ;
  border-radius: 6px;
  position: relative;
 }
 .testimonials .box img{
  position: absolute;
  right: -13px;
    top: -14%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
 }
 .testimonials .box h3{
  margin: 0 0 10px;
  color: var(--main-color);
 }
 .testimonials .box .title{
  color: #777;
  margin-bottom:10px ;
  display: block;
 }
 .testimonials .box .rate .filled{
  color: #ffc107;
 }
 .testimonials .box p{
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
 }
 /* End Testimonials */
 
 

 
 
 /* Start Footer */
 .footer{
  background-color: #191919;
  padding: 70px 0 0;
 }
 .footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  gap: 40px;
 }
 .footer .box h3{
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
 }
 @media(max-width:979px){
  .footer .box h3{
    text-align: center;
  }
 }
 .footer .box .social{
  display: flex;
 }
 @media(max-width:979px){
  .footer .box .social{
    display: flex;
    justify-content: center;
  }
 }
 @media(max-width:979px){
  .footer .box .text{
    text-align: center;
  }
 }
 .footer .box .social li{
  margin-right: 10px;
 }
 .footer .box .social li a{
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
 }
 .footer .box .social .facebook:hover{
  background-color: #1877f2;
  /*Brand Color الالوان من موقع   */
 }
 .footer .box .social .twitter:hover{
  background-color: #1da1f2;
 }
 .footer .box .social .youtube:hover{
  background-color: #ff0000;
 }
 .footer .box .text{
  line-height: 2;
  color: #b9b9b9;
 }
 .footer .box .links li{
  padding: 15px 0;
  transition: var(--main-transition);
 }
 @media(max-width:979px){
  .footer .box .links li{
    text-align: center;
  }
 }
 .footer .box .links li:not(:last-child){
  border-bottom: 1px solid #444;
 }
 .footer .box .links li:hover{
  padding-left: 10px;
 }
 .footer .box .links li a{
  color: #b9b9b9;
  transition: var(--main-transition);
 }
 .footer .box .links li:hover a{
  color: white;
 }
 .footer .box .links li a::before{
  font-family: "Font Awesome 5 Free";
  content:"\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
 }
 .footer .box .line{
  display: flex;
  align-items: center;
  color:#b9b9b9 ;
  margin-bottom: 30px;
 }
 @media (max-width:979px){
  .footer .box .line{
    flex-direction: column;
  }
 }
 .footer .box .line i{
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
 }
 .footer .box .line .info{
  line-height: 1.7;
  flex: 1;
 }
 .footer .box .line .info span{
  display: block;
 }
 .footer .footer-gallary img{
  width: 78px;
  border: 3px solid white;
  margin: 2px;
 }
 .footer .copyright{
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
 }

 /* End Footer */
@keyframes updown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}


@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
}
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}


/* End Animation */